
html{
    background-color: #EDF2C5;
    box-sizing: border-box;
}
body{
    margin:0;
}
.container{
    height: auto;
    width: 940px;
    padding-left: 160px;
    padding-right: 160px;
}
.header{
    width: 940px;
    height: 50px;
    display:flex;
    margin-top:53px;
    box-sizing: border-box;
    
}
.header-title{
    position: relative;
    color: #778A50;
    font-family: Arial black;
    font-size: 36px;
    margin-top: 0;
    bottom:12px;

}
.fb{
 
    width: 25px;
    height: 25px;
   margin-left: 514px;
   margin-top:8px;
  

}
.ig{

    width: 25px;
    height: 25px;
    padding-left:10px;
    padding-right:10px;
    margin-top:8px;
    

}
.button-box{
    position: relative;
    display:flex;
    width: 130px;
    height: 25px;
    padding-left:10px;
    border-left:1px solid #778A50;
    margin-top:7px;
}
.header-button1{
    position:relative;
    text-align: center;
    width: 60px;
    height: 25px;
    border : 1px solid #778A50 ;
    background-color : #EDF2C5;
    font-family:Arial Black ;
    font-size:12pt;
    color : #778A50;
    bottom:16px;
    border-radius: 3px;
    

}
.header-button2{
    position:relative;
    text-align: center;
    width: 50px;
    height: 25px;
    border : 1px solid #778A50 ;
    background-color : #EDF2C5;
    font-family:Arial Black ;
    font-size:12pt;
    color : #778A50;
    border-radius: 3px;
    margin-right: 0;
    margin-left:10px;
    bottom:16px;

}

.nav{
    border:1px solid #778A50;
    border-radius: 3px;
    position: absolute;
    display: flex;
    width: 940px;
    height: 48px;
    background-color:#778A50;
    padding-top: 12px;
    padding-left: 30px;
    box-sizing: border-box;
}
.nav-list{
    list-style-type: none;
    font-family: Arial black;
    color:#EDF2c5;
    font-size:16px;
    margin-right:60px;
    
}


.article {
    margin-top:68px;
}
.mainimg{
    width: 940px;
    height: 448;
}
.left-area{
    display: inline-block;
    height: 200px;
    width: 445px;
    font-size: 0;
}
.article{
    display: block;
}
.lat{
    box-sizing: border-box;
    background-color: #778A50;
    color: #EDF2c5;
    width: 445px;
    height: 45px;
    border:1px solid #778A50;
    border-radius: 3px;
    font-family: Arial black;
    font-size: 16px;
    margin-top:30px;
    padding-left:30px;
    padding-top: 10px; 
}
.laimg {
    width: 140px;
    height: 140px;

}
.laimgc{
    width: 140px;
    height: 140px;
    padding-left:12px;
    padding-right:12px;
}
.right-area{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    height: 200px;
    width: 445px;
    margin-top:30px;
    margin-left: 45px;
    bottom:18px;
    padding-top:0; 
    
}
.rat{
    position: relative;
    box-sizing: border-box;
    background-color: #778A50;
    color: #EDF2c5;
    width: 445px;
    height: 45px;
    border:1px solid #778A50;
    border-radius: 3px;
    font-family: Arial black;
    font-size: 16px;
    padding-left:30px;
    padding-top: 9px; 
    margin-top: 0;
}
.rbox{
   
    box-sizing: border-box;
    position: relative;
    width: 445px;
    height: 140px;
    background-color: #F7Fbda;
    
}
.contrast{
    padding-top:16px;
    width: 415px;
    height: 140px;
    margin-left: 15px;
    box-sizing: border-box;
}
.right-p{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.33;
    color: #7d7d7d;
    margin-bottom:16px;
    margin-top: 0;
    
}
.hr{
width: 414px;
color:#7d7d7d;
margin-top: 0;
margin-bottom: 16px;
}
.right-p2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.33;
    color: #7d7d7d;
}
.footer{
    width: 1260px;
    height: 60px;
    background-color: #778A50;
    margin-top:13px;
    box-sizing: border-box;

}
.fp{

    margin-left:479px;
    padding:24px;
    color:#EDF2c5;
    font-size: 12px;
    font-family: Arial, sans-serif;
}